<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong, Gondra Kelly
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/charts_row.html
-->

<div class="charts-row">
    <div class="chart-card">
        <div class="chart-header">
            <span class="chart-title">HEATMAP</span>
            <span class="badge" id="shot-count-badge">0 shots</span>
        </div>
        <div class="chart-body">
            <canvas id="shot-chart-canvas" height="180"></canvas>
        </div>
    </div>

    <div class="arc-card">
        <div class="arc-header">
            <span class="arc-title">SHOT ACTIVITY OVER TIME</span>
            <span class="badge" id="arc-streak-badge">Streak: --</span>
        </div>
        <div class="arc-body">
            <canvas id="arc-canvas" height="180"></canvas>
        </div>
    </div>
</div>
