<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong, Gondra Kelly
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/shot_table.html
-->

<div class="table-card">
    <div class="table-header">
        <span class="table-title">SHOT LOG</span>
    </div>

    <div class="table-actions">
      <button id="export-csv-btn">Export Table</button>
      <button id="export-json-btn">Export Stats</button>
    </div>

    <div class="table-body">
        <table id="shot-table">
            <thead>
                <tr>
                    <th>Shot #</th>
                    <th>Backboard</th>
                    <th>Swish</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody id="shot-table-body">
                <!-- Filled dynamically -->
            </tbody>
        </table>
    </div>
</div>