<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong, Gondra Kelly
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/shot_breakdown.html
-->

<div class="section-label" style="margin-top:16px;">Shot Type Breakdown</div>
    <div class="row2">
        <div class="stat-card">
            <div class="lbl">Swishes</div>
            <div class="val cyan" id="swishes">--</div>
        </div>
        <div class="stat-card">
            <div class="lbl">Backboard Makes</div>
            <div class="val orange" id="backboard-makes">--</div>
        </div>
        <div class="stat-card">
            <div class="lbl">Backboard Misses</div>
            <div class="val" style="color:var(--red)" id="backboard-misses">--</div>
        </div>
        <div class="stat-card">
            <div class="lbl">Airballs</div>
            <div class="val" style="color:var(--white)" id="airballs">--</div>
        </div>
    </div>