<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong, Gondra Kelly
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/shot_table.html
-->

<div class="table-card">
    <div class="table-header">
        <div class="table-title">SHOT LOG</div>

        <div class="table-actions">
          <button id="export-csv-btn">Export Table</button>
          <button id="export-json-btn">Export Stats</button>
        </div>
    </div>

    <div class="session-warning">
        ⚠️ Warning: Taking a new shot with the system active will reset current data and start a new session.
    </div>

    <div class="table-body">
        <table id="shot-table">
            <thead>
                <tr>
                    <th>Shot #</th>
                    <th>Backboard</th>
                    <th>Swish</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody id="shot-table-body">
                <!-- Filled dynamically -->
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <button id="prev-btn">Prev</button>
        
        <div id="page-numbers" class="page-numbers"></div>
        
        <button id="next-btn">Next</button>
    </div>
</div>