<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong, Gondra Kelly
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/advanced_stats.html
-->

<div class="section-label" style="margin-top:16px;">Advanced</div>
<div class="row3">
    <div class="stat-card">
        <div class="lbl">Avg Arc</div>
        <div class="val pct" id="avg-arc">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">Avg Entry Angle</div>
        <div class="val pct" id="avg-entry">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">Players Detected</div>
        <div class="val dim" id="players">--</div>
    </div>
</div>