<!--
    Basketball Shot Tracker App
    Developed by Christopher Hong, Gondra Kelly
    Team Name: HoopIQ
    Team Members: Christopher Hong, Alfonso Mejia Vasquez, Gondra Kelly, Matthew Margulies, Carlos Orozco
    Start Web Development Date: October 2025
    Finished Web Development Date: June 2026 (Ideally)
    templates/primary_stats.html
-->

<div class="section-label">Shot Statistics</div>
<div class="row1">
    <div class="stat-card">
        <div class="lbl">Attempts</div>
        <div class="val" id="attempts">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">Makes</div>
        <div class="val" id="makes">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">FG%</div>
        <div class="val pct" id="fg-pct">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">2PT%</div>
        <div class="val pct" id="two-pct">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">3PT%</div>
        <div class="val pct" id="three-pct">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">Rim Hits</div>
        <div class="val" id="rim">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">Backboard</div>
        <div class="val" id="backboard">--</div>
    </div>
    <div class="stat-card">
        <div class="lbl">Streak</div>
        <div class="val" id="streak">--</div>
    </div>
</div>